$colors: (
  primary: black,
  secondary: #007dd9,
  secondary-m: darken(#007dd9, 10%),
  tertiary: #e8e9ef,
);

@function get-color($color) {
  @return map-get($colors, $color);
}

$font-sizes: (
  small: calc(0.5rem + 0.6vw),
  medium: calc(0.8rem + 0.8vw),
  large: calc(0.1rem + 0.1vw),
);

@function get-font-size($size) {
  @return map-get($font-sizes, $size);
}
